.systemName
{
	font-weight: bold;
	font-size: 48px;
	float: right;
	clear: none;
	padding:3px 3px 3px 0px;
}

.stocks {
	color: white;
}

.navBar
{
	vertical-align: top;
	height: 70px;
	width: calc(100% - 4px);
	display:inline-block; 
	padding-left: 3px;
	min-width: 1200px;
}

.navElement
{
	float: left; 
	clear: none;
	padding:3px 3px 3px 0px;
}

.navButton
{
	display: inline-block;
	margin-top: -5px;
	margin-right: 5px;
	height: 65px;
	width: auto;
	min-width: 65px;
	padding: 4px;
	margin-right: 2px;
	vertical-align: top;
	text-align: center;
	font-weight: bold;		
}

/* .navButton:hover
{
	background-color:#ADD8E6 !important;
} */

.navButton img 
{
	display: block;
	height: auto;  
	width: 36px;
	margin-left: auto;
	margin-right: auto;
}

.controlLink {
	text-decoration: underline; 
	color: #11195c;
	cursor: pointer;
}

.controlLink:hover {
	text-decoration: none; 
	border-bottom: 1px dashed #00ADDD;
	color: #00ADDD;
	cursor: pointer;
}

.btn-primary {
	background-color: #11195c;
}

.btn-primary:hover {
	background-color: #00ADDD; 
}
