.removed {
  
    -webkit-animation: disapear 400ms;
    -webkit-animation-fill-mode: forwards; 
    animation: disapear 400ms;
    animation-delay: 4500ms;
    animation-fill-mode: forwards;
  }

  @-webkit-keyframes disapear{
  
    50% {
      
      -webkit-transform: translateX(-5%);
      transform: translateX(-5%);
    }
    
    100% {
      -webkit-transform: translateX(200%);
      transform: translateX(200%); 
    }    
  }
  
  @keyframes disapear{
    
    50% {
      
      -webkit-transform: translateX(-5%);
      transform: translateX(-5%);
    }
    
    100% {
      -webkit-transform: translateX(200%);
      transform: translateX(200%); 
    }    
  }

  #growl-container {
    position: fixed;
    opacity: 90%;
    width: 60%;
    right: 0;
    top: 170px;
    z-index:5000;
    
  }

  .growling {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }