/* The animation code */
@keyframes swipe {
    from {width: 50%;}
    to {width: 100%;}
}

.columns {
    margin:0 !important
}

.column {
    padding-top: 0.15em !important;
    padding-bottom: 0.15em !important;
}

.options {
    margin-bottom: 5px;
}
.dropdown-item {
    padding-right: 0px !important;

}

.button {
    height: 85% !important;
}

.content {
    margin: 0 auto !important;
    z-index: 10;
}
.content:nth-child(even) {
    background-color: #fafbfb;
}
.content:nth-child(odd) {
    background-color: #cdd4e9;
}

a:hover, a:focus {
    outline: none;
    text-decoration: none;
}

.tab-pane.is-active {
    width: 100%;
    display: inline;
    animation-name: swipe;
    animation-duration: 400ms;
}

.tab-pane {
    display: none;
}

.panel-tabs li.tab-select {
    background: #dde2e0;
    padding: 5px 0;
    text-align: center;
}

.panel-tabs li.tab-select {
    margin-bottom: 0;
    margin-right: 0;
    float: none;
    display: inline-block;
}

.panel-tabs li.tab-select a {
    font-size: 14px;
    color: #11195c;
    background: #fafbfb;
    margin-right: 5px;
    padding: 20px 25px;
    border-radius: 0;
    text-transform: uppercase;
}
.panel-tabs li.tab-select a:hover {
    background-color: #00ADDD;
    border-color: transparent;
}
.panel-tabs li.tab-select a i {
    font-size: 25px;
    margin-right: 10px;
}
.panel-tabs li.tab-select.is-active a,
.panel-tabs li.tab-select.is-active a:hover {
    background: #11195c;
    color: #fff;
    border: 1px solid #00ADDD;
}
.panel-tabs {
    width: 100%;
    font-size: 12px;
    color: #11195c;
    line-height: 30px;
    background: #e7ecea;
    padding: 20px 85px;
}

.button {
    font-size: 0.8em;
}

@media only screen and (max-width: 990px) {
    .tab .nav-tabs li a{ padding: 15px 10px; }
    .tab .tab-content{ padding: 20px 25px; }
}
@media only screen and (max-width: 767px) {
    .tab .nav-tabs li a{ padding: 15px 5px; }
}
@media only screen and (max-width: 480px) {
    .tab .nav-tabs li{ width:100%; }
}

.modalPopUp {
    border-radius: 5px;
    border: 1px solid  #00ADDD;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1000;
}

.heading {
    font-weight: bold;
    text-align: right;
    font-size: 0.8em;
    border-right: 2px #11195c solid;
}


.overflow {
    border: 1px solid black; 
    height: 740px;
    overflow-y: auto;
    overflow-x: hidden;
    /* overflow-y: none; */
}

.overflow-x {
    overflow-y: hidden;
    overflow-x: scroll;
}

.slider__btn {
    position: absolute;
    top: 90%;
    z-index: 100;
    border: none;
    background: rgba(5, 189, 235, 0.705);
    font-family: inherit;
    color: #333;
    height: 3.5rem;
    width: 3.5rem;
    font-size: 3.25rem;
    cursor: pointer;
    padding-bottom: 20px;
    border: 1px solid #00ADDD;
}

.slider__btn:hover {
    background: rgba(23, 219, 219, 0.836);
}

.slider__btn--left {
    left: 6%;
    transform: translate(-50%, -50%);
    border-radius: 50% 0 0 50%;
}
  
.slider__btn--right {
    right: 6%;
    transform: translate(50%, -50%);
    border-radius: 0 50% 50% 0;
}

.active--dot {
    color: #00ADDD;
}

.slide {
    transition: transform 1s;
}

.popup-link {
      overflow-inline: initial;
      padding: 5px;
      margin: 3px;
}